Hacemos el boostrap

Primero limpiamos la base de datos

### b) Bootstrap

El Bootstrap nos sirve para generar lo que se llaman distribuciones muestrales de estadísticas. Esto es un histograma de una medida estadística cuantificada utilizando un gran número de remuestreos. ¿Para qué queremos hacer esto? Para calcular la incertidumbre de nuestra medida estadística. Dado que no podemos regresar a la fuente original, vamos a crear 'nuevas muestras' a partir de la que tenemos, con el fin de simular qué pasaría si regresáramos a la fuente original a tomar más muestras. El algoritmo es el siguiente:

1. Toma un elemento de tu conjunto de datos de manera aleatoria con reposición.
2. Repite el paso 1 `n` veces (entre más grande tu `n`, más preciso tu cálculo; pero no tiene sentido que sea tan grande como el tamaño de tu muestra).
3. Toma la medida estadística que te interese de tus valores remuestreados.
4. Repite los pasos 1 a 3 `R` veces (entre mayor sea `R`, más preciso tu cálculo).
5. Utiliza las medidas obtenidas para:
  a) Generar un histograma o boxplot
  b) Calcular el error estándar
  c) Calcular un intervalo de confianza
  
Nuestro cálculo va a resultar más exacto si `n` y `R` son lo más grandes posibles. Pero el boostrapping es un proceso que toma mucho tiempo y poder computacional, así que si nuestro dataset es muy grande habrá que disminuir estos valores hasta que el procedimiento completo tome una cantidad decente de tiempo.

Vamos a realizar estos pasos y llevar a cabo el inciso *a* del paso 5:

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df=pd.read_csv("/home/manuel/Documents/Bedu/proyecto-covid/datasets/paises.csv")
df.head()

,code,continent,country,date,total_cases_per_million,total_deaths_per_million,population_density,cardiovasc_death_rate,diabetes_prevalence,life_expectancy,hdi
0,AFG,Asia,Afghanistan,09/12/2021,3955.901,183.781,54.422,597.029,9.59,64.83,0.511
1,ALB,Europe,Albania,09/12/2021,70611.786,1088.782,104.871,304.195,10.08,78.57,0.795
2,DZA,Africa,Algeria,09/12/2021,4756.612,137.303,17.348,278.364,6.73,76.88,0.748
3,AND,Europe,Andorra,09/12/2021,249140.316,1719.368,163.755,109.135,7.97,83.73,0.868
4,AGO,Africa,Angola,09/12/2021,1925.701,51.159,23.890,276.045,3.94,61.15,0.581

In [5]:
df_nona = df.dropna(subset = ['total_cases_per_million', 'hdi']) #para quitar na en columnas especificas

In [8]:
df_nonaout = df_nona[df_nona.total_cases_per_million < 230000] #para quitar los outliers de esta variable

Vamos a tomar una muestra de la variable de HDI, sin reposicion

In [9]:
df['hdi'].sample(n=20, replace=False)

145    0.543
122    0.646
163    0.916
28     0.594
39     0.810
78     0.645
180    0.740
138    0.777
112    0.804
141    0.864
65     0.947
21     0.780
127    0.394
168    0.738
99     0.724
148    0.738
142    0.848
96     0.744
53     0.673
74     0.634
Name: hdi, dtype: float64